.product__catalog__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;
	@media (max-width: 496px) {
		gap: 10px;
		flex-direction: column-reverse;
	}
}
