.product__page__wrapper {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	margin: 20px auto 40px;
	gap: 25px;

	.product__page__card {
		background-color: var(--primary-cards-background);
		border-radius: 4px;
		padding: 5px 20px;
	}

	.product__page__header__medium {
		color: var(--standard-color);
		font-family: var(--museo_cyrl);
		font-size: var(--headerS);
		margin: 10px 0;
		font-weight: 300;
		letter-spacing: 1px;
	}

	.product__page__manufacturer {
		display: flex;
		flex-direction: row;
		gap: 8px;
		.product__page__manufacturer__label {
			color: var(--standard-color);
			font-family: var(--museo_cyrl);
		}
	}

	.product__card__price__wrapper {
		gap: 10px;
		align-items: center;
		display: flex;
		flex-direction: row;

		font-weight: 700;
		margin: 20px 0;

		.product__card__price__label {
			color: var(--standard-color);
			margin: 0;
			padding: 0;
			letter-spacing: 0.5px;
			font-family: var(--museo_cyrl);
			font-size: var(--fontX);
		}

		.price__tag {
			font-size: var(--headerS);
			&::after {
				content: '₽';
			}
		}

		.product__card__price,
		.product__card__price__sale {
			color: var(--orange-color);
		}

		.product__card__price__before__sale {
			font-size: var(--fontX);
			color: var(--gray-color);
			position: relative;
			z-index: var(--zIndexMinimum);
			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				border-radius: 8px;
				z-index: -1;
				left: 0;
				top: 50%;
				background-color: var(--orange-color);
			}
		}
	}
}

.product__page__head {
	padding: 0 10px;
	.product__page__article__wrapper {
		margin: 0;
		font-size: var(--fontMS);
		color: var(--gray-color);
	}
	@media (max-width: 768px) {
		flex-wrap: wrap;
		display: flex;
		flex-direction: column;
		.breadcrumb__wrapper {
			flex-wrap: wrap;
			.breadcrumb__slash{
				font-size: var(--fontS);
				margin: 0 2.5px;
			}
			.breadcrumb__item{
				font-size: var(--fontS);
			}
		}
	}
}

.product__page__upper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	.product__page__upper__item {
		min-height: 530px;
		@media (max-width: 768px) {
			min-height: 200px;
		}
	}

	.product__page__gallery__wrapper {
		min-width: 650px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		.gallery__wrapper {
			max-width: 650px;
			padding: 10px;
		}

		@media (max-width: 768px) {
			max-width: 100%;
			min-width: 200px;
		}
	}

	.product__page__main__info {
		width: 100%;
	}

	.product__page__header {
		font-size: var(--headerM);
		color: var(--standard-color);
		font-weight: 300;
		font-family: var(--museo_cyrl);
		-webkit-line-clamp: 2;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
	}

	.product__page__options__wrapper {
		margin: 10px 0;
		.product__card__add__to__cart {
			width: 100%;
		}
		.product__page__options__lower{
			display: flex;
			flex-direction: row;
			gap: 10px;
			margin: 10px 0;
			.product__card__option{
				flex-grow: 1
			}
		}
	}

	@media (max-width: 1024px) {
		flex-direction: column;
		.product__page__gallery__wrapper {
			width: 100%;
		}
	}
}

.product__page__description {
	color: var(--black-color);
	.product__page__description {
		font-size: var(--fontM);
		line-height: 25px;
		font-family: 'Arial';
		white-space: pre-wrap;
	}
}

.product__page__properties__content {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 15px;
	margin: 20px 0;

	@media (max-width: 1080px) {
		grid-template-columns: 100%;
		gap: 20px;
		.product__page__properties__item {
			width: 98%;
		}
	}
}

.product__page__properties__short {
	.product__page__properties__short__header {
		color: var(--standard-color);
		font-size: var(--fontX);
		letter-spacing: 0.5px;
		font-family: var(--museo_cyrl);
		margin: 10px 0;
	}

	.product__page__properties__short__content {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.product__page__properties__short__show__all {
		outline: none;
		border: 0;
		background-color: transparent;
		font-size: var(--fontM);
		padding: 10px;
		margin: 0;
		margin-top: 10px;
		cursor: pointer;
		color: var(--orange-color);
		transition: opacity 0.1s ease-in-out;
		opacity: 1;
		&:hover {
			opacity: 0.7;
		}
	}
}
