.product__card__wrapper__row {
	width: 100%;
	height: 250px;
	border-radius: 8px;
	margin-bottom: 20px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.product__card__image__wrapper {
		width: 240px;
		height: 240px;
		cursor: pointer;
		.gallery__images__dots {
			margin-top: 0px !important;
		}
	}

	.product__card__main__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 5%;
		margin-top: 5px;
		width: 65%;

		.product__card__info {
			max-width: 400px;
			.product__card__name__wrapper {
				.product__card__name {
					font-family: var(--museo_cyrl);
					font-size: var(--fontX);
					color: var(--primary-color);
					font-weight: 300;
					transition: 0.1s ease-in-out;
				}
			}

			.product__card__manufacturer__data__wrapper {
				.product__card__manufacturer__data {
					color: var(--gray-color);
					font-size: var(--fontL);
					font-family: 'Arial';
				}
				.product__card__slash {
					color: var(--gray-color);
					font-size: var(--fontL);
					margin: 0px 5px;
				}
			}

			.product__features__wrapper {
				margin-top: 20px;
				.product__feature__wrapper {
					display: flex;
					flex-direction: row;
					margin: 7.5px 0px;
					font-family: 'Arial';
					font-size: var(--fontM);
					.product__feature__key {
						color: var(--gray-color);
						letter-spacing: 0.5px;
						&::first-letter {
							text-transform: capitalize;
						}
					}
					.product__feature__value {
						margin: 0px;
						margin-left: 5px;
						&::first-letter {
							text-transform: capitalize;
						}
					}
				}
			}
		}

		.product__card__functions__wrapper {
			.product__card__price__wrapper {
				margin: 10px 0px;
				text-align: right;
				.product__card__price__sale {
					color: var(--orange-color);
				}
				.price__tag {
					font-family: var(--museo_cyrl);
					font-size: var(--fontXL);
					font-weight: 900;
					&::after {
						content: '\20BD';
					}
				}

				.product__card__price {
					color: var(--orange-color);
				}

				.product__card__price__before__sale {
					font-size: var(--fontM);
					color: var(--gray-color);
					text-decoration: line-through;
					margin-left: 5px;
					font-weight: 700;
				}
			}
			.product__card__add__to__cart {
				width: 100%;
			}
			.product__card__options__wrapper {
				margin-top: 10px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.product__card__option {
					border-radius: 4px;
					border: 2px solid var(--grey-color);
					color: var(--grey-color);
					width: 30px;
					height: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					transition: 0.1s ease-in-out;
					svg {
						width: 20px;
					}

					&__active {
						border: 2px solid var(--orange-color);
						color: var(--orange-color);
					}
					&__inactive {
						&:hover {
							color: var(--orange-color);
						}
					}

					&:hover {
						border-color: var(--orange-color);
						color: var(--orange-color);
					}
				}
			}
		}

		.product__card__link:hover {
			.product__card__name {
				color: var(--orange-darker-color);
			}
		}
	}
}
