.product__comparison__page{
    padding: 30px 0;
    min-height: calc(100vh - 300px);
    .product__comparison__page__head{
        padding: 0 10px;
        .product__comparison__header{
            font-size: var(--headerM);
            font-family: var(--museo_cyrl);
            color: var(--primary-color);
            font-weight: 300;
            margin: 10px 0 40px;
        }
    }
    .comparison__products__container{
        max-width: 1400px;
        margin: 0 auto;
    }

}