.gallery__wrapper__mobile {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	.gallery__available__items__wrapper {
		overflow: scroll;
		padding: 10px 0;
		display: flex;
		.gallery__available__items {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0 auto;
			.gallery__available__item {
				min-width: 65px;
				min-height: 65px;
				max-width: 65px;
				max-height: 65px;
				display: flex;
				align-items: center;
			}
		}
	}

	.gallery__images__holder__wrapper {
		overflow: hidden;
	}

	.gallery__images__holder {
		display: flex;
		flex-direction: row;
		position: relative;
		transition: left 0.5s ease;
		user-select: none;
		-webkit-touch-callout: none;
		touch-action: pan-y;
		.gallery__image__holder {
			max-height: 100%;
			max-width: 100%;
			min-height: 100%;
			min-width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			.gallery__current__image {
				max-height: 100%;
				max-width: 100%;
				width: auto;
				height: auto;
				border-radius: 8px;
			}
		}
	}
}
