@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/Museo-Cyrl-100.otf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/Museo-Cyrl-100-Italic.otf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/Museo-Cyrl-300.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/Museo-Cyrl-300-Italic.otf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/Museo-Cyrl-500.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/Museo-Cyrl-500-Italic.otf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/Museo-Cyrl-700.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/Museo-Cyrl-700-Italic.otf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/Museo-Cyrl-900.otf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "MuseoCyrl";
    src: url("../fonts/Museo-Cyrl-900-Italic.otf") format("truetype");
    font-weight: 900;
    font-style: italic;
}