.prdouct__views__wrapper {
	display: flex;
	flex-direction: row;
	gap: 5px;
	&.prdouct__views__wrapper__disabled {
		opacity: 0.5;
	}
	.prdouct__view {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;
		color: var(--gray-color);
		font-size: var(--fontM);
		border: 2px solid var(--gray-color);
		border-radius: 12px;
		padding: 2px 6px;
		opacity: 1;

		.prdouct__view__label {
			font-family: var(--museo_cyrl);
			letter-spacing: 0.5px;
			margin: 0;
		}
		.product__view__icon {
			cursor: pointer;
			width: 30px;
			font-size: 30px;
		}

		&.prdouct__view__selected {
			border-color: var(--orange-color);
			color: var(--orange-color);
		}
	}
}
