.history__item {
	width: 180px;
	height: 330px;
	border-radius: 4px;
	.history__item__image__wrapper {
		padding: 5px;
		height: 215px;
		display: flex;
		justify-content: center;
		align-items: center;
		.history__item__image {
			max-width: 100%;
			max-height: 100%;
			height: auto;
			width: auto;
			border-radius: 4px;
		}
	}
	.history__item__info {
		padding: 5px 8px;
		.product__card__price__wrapper {
			margin: 0;
			.price__tag {
				font-size: var(--fontM);
			}
		}
		.history__item__label {
			font-size: var(--fontMS);
			color: var(--standard-color);
		}
	}
}