.catalog__head__wrapper {
    margin-bottom: 20px;
    .catalog__header__wrapper {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-top: 5px;
        .catalog__header {
            color: var(--primary-color);
            font-family: var(--museo_cyrl);
            font-size: var(--headerX);
            font-weight: 300;
            letter-spacing: 1px;
            margin: 0px;

            &::first-letter {
                text-transform: capitalize;
            }
        }
        .catalog__header__count {
            margin-left: 5px;
            font-family: var(--museo_cyrl);
            color: var(--standard-color);
            font-size: var(--fontM);
        }
    }
    @media(max-width: 768px){
        .breadcrumb__wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .catalog__header{
                font-size: var(--headerL);
            }
        }
        .catalog__header__wrapper{
            align-items: center;
            flex-direction: column;
        }
    }
}