.sub__categories__column {
	margin: 10px 0;
	width: 100%;
	padding: 10px;
	display: inline-block;
	background-color: var(--primary-cards-background);
	border-radius: 8px;

	.sub__categories__column__sub__wrapper {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.sub__categories__column__item__sub {
			text-decoration: none;
			.sub__categories__column__item__sub__text {
				color: var(--standard-color);
				font-size: var(--fontL);
				font-weight: 400;
				transition: color 0.25s ease;
			}
			&:hover {
				.sub__categories__column__item__sub__text {
					color: var(--orange-color);
				}
			}
		}
	}
}
