.sub__categories__column {
	margin: 10px 0;
	width: 100%;
	padding: 10px;
	display: inline-block;
	background-color: var(--primary-cards-background);
	border-radius: 8px;

	.sub__categories__column__sub__wrapper {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.sub__categories__column__item__sub {
			color: var(--standard-color);
			text-decoration: none;
			font-size: var(--fontL);
			font-weight: 300;
			font-family: var(--museo_cyrl);
			transition: color 0.25s ease;
			text-transform: capitalize;
			&:hover {
				color: var(--orange-color);
			}
		}
	}
}
