.search__result__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 2.5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.15s ease;

    .search__result__item__left {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 10px;
        .search__result__item__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: calc(100% - 70px);
            gap: 10px;

            .search__result__label__wrapper {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: var(--museo_cyrl);
                display: flex;
                flex-direction: column;
                .search__result__label {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--standard-color);
                }
                .search__result__article {
                    font-size: var(--fontS);
                    color: var(--gray-color);
                }
            }
            .search__result__price__wrapper {
                white-space: nowrap;
                margin: 0;
                .price__tag {
                    font-size: var(--fontL);
                }
                .product__card__price__before__sale {
                    font-size: var(--fontM);
                }
            }
        }
    }

    &:hover {
        background-color: var(--search__item__hover);
    }
    .search__result__item__image__wrapper {
        height: 45px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        min-height: 45px;
        .search__result__item__image {
            width: auto;
            height: auto;
            border-radius: 4px;
            max-height: 100%;
            max-width: 100%;
        }
    }
}