@use "../../../styles/variables" as variables;


.product__card__wrapper{


    border-radius: 8px;
    padding: 10px;
    
    position: relative;
    transition: 0.25s ease;

    &.product__card__fade__in{
        animation: fadeIn 0.5s ease-in;
    }
}


.product__card__option{
    color: variables.$gray-color;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &__active{
        border-color: variables.$orange-color;
        color: variables.$orange-color;
    }
    &__inactive{
        &:hover{
            border-color: variables.$orange-color;
            color: variables.$orange-color;
        }
    }
}

.product__card__option__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$modals__background__click;
}



@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}