.product__card__wrapper {
	border-radius: 8px;
	padding: 10px;

	position: relative;
	transition: 0.25s ease;

	&.product__card__fade__in {
		animation: fadeIn 0.5s ease-in;
	}
}

.product__card__option {
	color: var(--gray-color);
	cursor: pointer;
	transition: 0.1s ease-in-out;

	.product__card__option__icon{
		width: 20px;
		height: 20px;
		fill: var(--gray-color);
		transition: fill 0.1s ease-in-out;
	}


	&:hover {
		border-color: var(--orange-color);
		color: var(--orange-color);

		.product__card__option__icon{
			fill: var(--orange-color);
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
