.page__not__found__wrapper {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.page__not__found {
		text-align: center;
		.page__not__found__text {
			color: var(--primary-color);
			font-family: var(--museo_cyrl);
			font-size: var(--headerS);
			font-weight: 500;
			margin-bottom: 30px;
		}
		.return__to_main_page__button {
			padding: 10px 15px;
			border-radius: 4px;
			background-color: var(--orange-color);
			font-family: var(--museo_cyrl);
			font-weight: 300;
			font-size: var(--fontX);
			color: var(--white-color);
			transition: 0.25s ease-in;
			&:hover {
				background-color: var(--orange-darker-color);
			}
		}
	}
}
