.slider__wrapper {
	display: flex;
	flex-direction: column;
	margin: 25px 0;
	&.slider__wrapper__carousel {
		.slider__main__content {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: 10px;
			position: relative;
			&.slider__main__content__single{
				justify-content: start;
			}
			.slider__content__slide__button {
				min-width: 45px;
				max-width: 45px;
				height: 45px;
				width: 45px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				border: none;
				cursor: pointer;
				position: absolute;

				background-color: var(--white-color);
				box-shadow: 0 4px 16px 1px rgba(0,26,52,.16);
	
				z-index: var(--zIndexMedium);

				&.slider__content__slide__button__left{
					left: 20px;
					transform: rotateZ(180deg);
				}
				&.slider__content__slide__button__right{
					right: 20px;
				}

				.slider__content__slide__icon {
					width: auto;
					height: 35px;
					width: 35px;
					fill: var(--gray-color);
					transform: fill 0.25s ease;
				}
				&.slider__button__disabled {
					cursor: default;
					.slider__content__slide__icon {
						opacity: 0.75;
						fill: var(--grey-color);
					}
				}
				&:not(&.slider__button__disabled){
					&:hover{
						.slider__content__slide__icon {
							fill: var(--orange-color);
						}
					}
				}
			}
			.slider__content__wrapper {
				overflow: hidden;
				display: flex;
				flex-direction: column;
				.slider__content {
					transition: left 0.5s ease-out;
					position: relative;
					left: 0px;
					display: flex;
					flex-direction: row;
				}
				.slider__dots__wrapper {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					margin-top: 10px;
					.slider__dot {
						width: 25px;
						height: 4px;
						border-radius: 4px;
						margin: 0 5px;
						background-color: var(--gray-color);
						&.slider__dot__button {
							cursor: pointer;
							opacity: 1;
							transition: opacity 0.15s ease-in-out;
							&:hover {
								opacity: 0.75;
							}
						}
						&.slider__dot__active {
							background-color: var(--orange-color);
						}
					}
				}
			}
		}
	}
	&.slider__wrapper__drag {
		.slider__content__wrapper {
			display: flex;
			flex-direction: row;
			align-items: center;
			overflow: scroll;
			.slider__content {
				display: flex;
				flex-direction: row;
			}
			.slider__item__wrapper {
				user-select: none;
			}
		}
	}
}
