.modal__close__wrapper__button {
	color: var(--primary-color);
	border: none;
	font-size: var(--headerL);
	background: transparent;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: background 0.15s ease;
	&:hover {
		background: var(--primary_link_hover);
	}
}

.filter__modal__content {
	max-width: 1000px;
	height: 600px;

	.filter__modal__content__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		.content__header__wrapper {
			font-family: var(--museo_cyrl);
			.filter__modal__content__header {
				color: var(--primary-color);
				font-weight: 300;
				font-size: var(--headerL);
				padding: 0;
				margin: 0;
			}
			.filters__modal__count {
				margin: 0;
				padding: 0;
				color: var(--standard-color);
				margin-left: 5px;
				font-weight: 100;
				font-size: var(--fontL);
			}
		}
	}
	.filter__modal__content__items__wrapper {
		overflow: scroll;
		height: 75%;
		&::-webkit-scrollbar {
			width: 3px;
			height: 3px;
		}
		&::-webkit-scrollbar-thumb {
			visibility: visible;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--gray-color);
			border-radius: 4px;
		}
		.filter__modal__content__items {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
	}
	.modal__footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 5px;
		gap: 10px;

		.filter__modal__button {
			cursor: pointer;
		}

		.filter__founded__items__button {
			width: 250px;
			height: 40px;
			border-radius: 4px;
			margin: 0;
			padding: 0;
			border: none;

			color: rgb(255, 255, 255);
			font-family: var(--museo_cyrl);
			font-size: var(--fontM);
			transition: 0.1s ease-out;

			background-color: var(--orange-color);
			&:hover {
				background-color: var(--orange-darker-color);
			}
		}
		.filter__clear__button {
			width: 200px;
			height: 40px;
			background-color: transparent;
			border-radius: 4px;
			border: 1px solid var(--standard-color);

			font-family: var(--museo_cyrl);
			font-size: var(--fontM);
			color: var(--standard-color);
			transition: 0.1s ease-out;
			margin: 0;
			&:hover {
				color: var(--gray-color);
				border-color: var(--gray-color);
			}
		}
		.filter__modal__return__button {
			width: 200px;
			height: 40px;

			background-color: transparent;
			border-radius: 4px;
			border: 1px solid var(--standard-color);

			font-family: var(--museo_cyrl);
			font-size: var(--fontM);
			color: var(--standard-color);
			transition: 0.1s ease-out;
			&:hover {
				color: var(--gray-color);
				border-color: var(--gray-color);
			}
		}
	}

	@media (max-width: 768px) {
		.filter__modal__content__items__wrapper {
			.filter__modal__content__items {
				display: flex;
				flex-direction: column;
			}
		}
		.modal__footer {
			flex-direction: column;
			justify-content: unset;
			.filter__founded__items__button {
				width: 100%;
			}
			.filter__modal__return__button {
				display: none;
			}
			.filter__clear__button {
				width: 100%;
			}
		}
	}
}
