.recomendation__products__wrapper {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	.recomendation__products__head {
		.recomendation__products__header {
			font-weight: 300;
			font-family: var(--museo_cyrl);
			color: var(--primary-color);
		}
	}
}
