.product__page__properties__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 500px;
	width: 100%;
	position: relative;
	align-items: flex-end;
	margin: 0;

	.product__page__properties__item__key {
		overflow: hidden;
		position: relative;
		width: 50%;
		margin: 0;
		padding-right: 5px;
		white-space: wrap;
		color: var(--standard-color);
		font-family: var(--museo_cyrl);
		font-size: var(--fontL);
		&::first-letter {
			text-transform: capitalize;
		}
		&::after {
			content: '';
			width: 100%;
			position: absolute;
			bottom: 0;
			border-bottom: 1px dotted var(--gray-color);
		}
	}
	.product__page__properties__item__value__wrapper {
		display: flex;
		margin: 0;
		width: 50%;

		.product__page__properties__item__value {
			align-self: flex-end;
			color: var(--standard-color);
			font-size: var(--fontL);
		}
	}
	@media (max-width: 768px) {
		.product__page__properties__item__key {
			font-size: var(--fontM);
		}
		.product__page__properties__item__value {
			font-size: var(--fontM);
		}
	}
}
