.home__page__categories__wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	font-family: var(--museo_cyrl);
	.home__page__categories__content__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		padding: 0 10px;
		.home__page__categories__content {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-areas:
				'big q w e r t'
				'big a s d f g';
			gap: 20px;

			.home__page__categories__item {
				&.home__page__grid__item__pechi-dlya-bani {
					grid-area: big;
					height: 520px;
					.home__page__categories__item__image__wrapper {
						width: 480px;
						height: 480px;
						right: unset;
						left: -35%;
						.home__page__categories__item__image {
							width: 100%;
							height: 100%;
						}
					}
				}
				&.home__page__grid__item__pechi-otopitelnye {
					grid-area: q;
				}
				&.home__page__grid__item__pechi-dlya-sada {
					grid-area: w;
				}

				&.home__page__grid__item__kaminy {
					grid-area: e;
				}

				&.home__page__grid__item__kotly-otopitelnye {
					grid-area: r;
				}

				&.home__page__grid__item__tandyry {
					grid-area: t;
				}

				&.home__page__grid__item__aksessuary {
					grid-area: a;
				}
				&.home__page__grid__item__dveri-dlya-bani-i-sauny {
					grid-area: s;
				}
				&.home__page__grid__item__izolyacionnye-otdelochnye-materialy {
					grid-area: d;
				}
				&.home__page__grid__item__kaminnoepechnoe-lite {
					grid-area: f;
				}

				&.home__page__grid__item__dymohody-baki-dlya-vody {
					grid-area: g;
				}

				grid-column-start: span 1;
				height: 250px;
				max-width: 215px;
				padding: 10px;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				gap: 10px;
				cursor: pointer;
				position: relative;
				border-radius: 8px;
				box-shadow: 0 0 16px var(--box-shadow-color);
				&:hover {
					.home__page__categories__item__info {
						.home__page__categories__item__label {
							color: var(--orange-color);
						}
					}
					.home__page__categories__item__image__wrapper {
						.home__page__categories__item__image {
							transform: scale(1.05);
						}
					}
				}
				.home__page__categories__item__image__wrapper {
					overflow: hidden;
					border-radius: 12px;
					width: 230px;
					height: 230px;
					min-height: 230px;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					right: -22.5%;
					bottom: -35px;
					z-index: 0;
					.home__page__categories__item__image {
						max-width: 100%;
						max-height: 100%;
						width: 100%;
						height: auto;
						border-radius: 12px;
						transform: scale(1);
						transition: transform 0.2s ease;
					}
				}
				.home__page__categories__item__info {
					height: 60px;
					position: relative;
					z-index: 1;
					.home__page__categories__item__label {
						color: var(--primary-color);
						letter-spacing: 0.5px;
						font-weight: 600;
						transition: color 0.2 ease;
						margin: 0;
						font-size: var(--fontX);
						&::first-letter {
							text-transform: uppercase;
						}
					}
					.home__page__categories__item__count {
						color: var(--standard-color);
						letter-spacing: 0.5px;
						margin: 0;
						font-size: var(--fontM);
					}
				}
			}
		}

		@media (max-width: 1028px) and (min-width: 768px) {
			.home__page__categories__content {
				grid-template-columns: repeat(4, 1fr);
				grid-template-areas:
					'big big q w'
					'big big q w'
					'e r t a'
					's d f g';

				.home__page__categories__item {
					&.home__page__grid__item__pechi-dlya-bani {
						max-width: 100%;
						.home__page__categories__item__image__wrapper {
							width: 120%;
							height: 120%;
							left: 5%;
							bottom: -25%;
						}
					}
					&.home__page__grid__item__pechi-otopitelnye,
					&.home__page__grid__item__pechi-dlya-sada {
						height: 520px !important;
						.home__page__categories__item__image__wrapper {
							width: 480px;
							height: 480px;
							right: unset;
							left: -7.5%;
							.home__page__categories__item__image {
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}

		@media (max-width: 768px) {
			.home__page__categories__content {
				grid-template-columns: repeat(2, 1fr);
				grid-template-areas:
					'big big'
					'q w'
					'e r'
					't a'
					's d'
					'f g';

				.home__page__categories__item {
					&.home__page__grid__item__pechi-dlya-bani {
						max-width: 100%;
						height: 160px;
						.home__page__categories__item__image__wrapper {
							width: 300px !important;
							height: 300px !important;
							right: 0%;
							bottom: -50%;
							left: unset;
						}
					}
				}
			}
		}

		@media (max-width: 628px) {
			// .home__page__categories__content {
			// 	gap: 15px;
			// 	grid-template-columns: repeat(2, 1fr);
			// }
		}

		@media (max-width: 428px) {
			.home__page__categories__content {
				gap: 10px;
				.home__page__categories__item {
					grid-column-start: span 1;
					max-width: 200px;
					height: 220px;
					.home__page__categories__item__image__wrapper {
						max-width: 100%;
						max-height: 100%;
						height: 200px;
						min-height: 200px;
					}
					.home__page__categories__item__info {
						.home__page__categories__item__label {
							letter-spacing: 0px;
							font-size: var(--fontM);
						}
					}
					&.home__page__grid__item__pechi-dlya-bani {
						.home__page__categories__item__image__wrapper {
							max-height: unset;
							max-width: unset;
						}
					}
				}
			}
		}
	}
}
