.dropdown__wrapper {
	margin-bottom: 15px;
	.dropdown__toggle__button {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: transparent;
		border: none;
		padding: 10px 15px;
		width: 100%;
		cursor: pointer;

		.dropdown__toggle__arrow__icon {
			fill: var(--gray-color);
			transition: 0.4s ease;
			width: var(--fontX);
			transform: rotateZ(-90deg);
			&.dropdown__toggle__arrow__icon__active {
				transform: rotateZ(-270deg);
			}
		}

		&:hover {
			.dropdown__label {
				color: var(--standard-color);
			}
			.dropdown__toggle__arrow__icon {
				fill: var(--standard-color);
			}
		}
	}

	.dropdown__content {
		max-height: 0;
		overflow: hidden;
		padding: 0 20px;
		transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

		&.dropdown__content__active {
			transition: max-height 1s;
			max-height: 3000px;
		}
	}
}
