.dropdown__wrapper {
	margin-bottom: 15px;
	.dropdown__toggle__button {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background-color: transparent;
		border: none;
		padding: 10px 15px;
		width: 100%;
		cursor: pointer;

		&:hover {
			.dropdown__label {
				color: var(--standard-color);
			}
			.dropdown__toggle__arrow {
				color: var(--standard-color);
			}
		}

		.dropdown__label {
			font-family: var(--museo_cyrl);
			color: var(--primary-color);
			font-size: var(--fontM);
			font-weight: 700;
			width: 90%;
			text-align: left;

			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			transition: all 0.4s ease;
			&:first-letter {
				text-transform: uppercase;
			}
		}
		.dropdown__toggle__arrow {
			color: var(--gray-color);
			transition: 0.4s ease;
			width: var(--fontS);
			&.dropdown__toggle__arrow__active {
				transform: rotateZ(180deg);
			}
		}
	}

	.dropdown__content {
		max-height: 0;
		overflow: hidden;
		padding: 0 20px;
		transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

		&.dropdown__content__active {
			transition: max-height 1s;
			max-height: 3000px;
		}
	}
}
