.json__data__content__wrapper {
	display: flex;
	flex-direction: column;
	font-family: var(--museo_cyrl);
	font-weight: 300;
	max-width: 1000px;
	h2 {
		margin: 0;
		color: var(--primary-color);
	}
	h3 {
		color: var(--primary-color);
		margin: 0;
		font-weight: 500;
		font-size: var(--fontX);
	}
	ul {
		margin: 5px 0 20px;
		color: var(--standard-color);
		li {
			margin: 10px 0;
		}
	}
	p {
		font-weight: 400;
		margin: 5px 0 20px;
		line-height: 24px;
		font-size: var(--fontL);
		color: var(--standard-color);
	}

	@media (max-width: 768px) {
		h2 {
			font-size: var(--fontX);
		}
		h3 {
			font-size: var(--fontL);
		}
		p {
			font-size: var(--fontM);
		}
	}
}
