.search__field__wrapper {
	width: 100%;
	position: relative;
	padding: 6px;
	&.search__field__wrapper__active {
		z-index: var(--zIndexBig);
		// .search__input__wrapper{
		//     background-color: var(--app_background_color);
		// }
		.search__field__results__wrapper {
			background-color: var(--app_background_color);
		}
	}
}

.search__field__results__wrapper {
	width: 100%;
	min-height: 52px;
	border-radius: 8px;
	transition: background-color 0.2s ease, height 0.2s ease;
	position: absolute;
	top: 0;
	left: 0;
}

.search__input__wrapper {
	position: relative;
	z-index: var(--zIndexBig);
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 40px;
	border: 1.5px solid var(--primary-color);
	border-radius: 6px;

	.search__field {
		border: 0px solid transparent;
		background: var(--white-color);
		border-radius: 5px;
		width: calc(100% - 40px);
		font-size: var(--fontX);
		outline: 0;
		color: var(--primary-color);
		height: 100%;
		padding: 0 10px;
		&::placeholder{
			color: var(gray-color);
			font-family: var(--museo_cyrl);
			font-size: var(--fontM);
			font-weight: 300;
		}
	}

	.search__field__button {
		width: 32px;
		border: none;
		background: var(--primary-color);
		cursor: pointer;
		min-height: 32px;
		max-height: 32px;
		margin: 0;
		padding: 0;
		border-radius: 4px;
		opacity: 1;
		transition: opacity 0.25s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover{
			opacity: 0.9;
		}
		.search__field__button__icon {
			width: 20px;
			height: 20px;
			fill: var(--light-grey-color);
		}
	}
}

.search__field__background__clickable {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--modals__background__click);
	z-index: var(--zIndexMedium);
}

.search__field__results__content {
	display: flex;
	margin-top: 50px;
	flex-direction: column;

	.search__field__results__count {
		padding: 5px 10px;
		font-size: var(--fontM);
		color: var(--gray-color);
	}


}
