.catalog__page__wrapper {
	margin: 20px 0 50px;

	.catalog__body {
		display: flex;
		flex-direction: row;
		max-width: 1440px;

		.catalog__filters__wrapper {
			min-width: 240px;
			.dropdown__wrapper {
				margin-bottom: 10px;
			}
		}

		.catalog__wrapper {
			display: flex;
			flex-direction: column;
			min-width: calc(100% - 280px);
			width: calc(100% - 280px);
			max-width: calc(100% - 280px);
			padding: 0 10px;
			.catalog__products__container {
				max-width: 100%;

				&.display__row {
					grid-gap: 10px;
					display: grid;
					grid-template-columns: repeat(12, 1fr);
					justify-items: center;

					@media (max-width: 1024px) {
						display: grid;
						grid-template-columns: repeat(8, 1fr);
					}

					@media (max-width: 648px) {
						display: flex;
						flex-direction: column;
						align-items: center;
						flex-wrap: wrap;
					}

					.product__card__wrapper {
						width: 100%;
						height: 100;
						grid-column-start: span 4;
					}
				}
				&.display__column {
					display: flex;
					flex-direction: column;
				}
			}
			.filter__show__all {
				display: none;
				width: calc(100% - 20px);
				margin: 10px auto;
			}
		}

		@media (max-width: 1024px) {
			flex-direction: column;
			.catalog__filters__wrapper {
				display: none;
			}
			.catalog__wrapper {
				width: 100%;
				max-width: 100%;
				min-width: 100%;
				.filter__show__all {
					display: flex;
				}
			}
		}
	}

	.catalog__footer {
		display: flex;
		flex-direction: column;
		padding: 0 20px;
		.catalog__page__history__header {
			font-size: var(--headerS);
			font-family: var(--museo_cyrl);
			color: var(--primary-color);
		}
	}

	.slider__item__wrapper {
		min-width: 230px;
		max-width: 230px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
