.catalog__page__wrapper {
	margin: 20px 0 50px;

	.catalog__body {
		display: flex;
		flex-direction: row;
		max-width: 1440px;

		.catalog__filters__wrapper {
			min-width: 240px;
			.dropdown__wrapper {
				margin-bottom: 10px;
			}
		}

		.catalog__wrapper {
			display: flex;
			flex-direction: column;
			min-width: calc(100% - 280px);
			width: calc(100% - 280px);
			max-width: calc(100% - 280px);
			.catalog__products__container {
				max-width: 100%;
				padding: 0px 25px;
				&.display__row {
					grid-gap: 10px;
					display: grid;
					grid-template-columns: repeat(12, 1fr);
					justify-items: center;
					flex-direction: row;
					flex-wrap: wrap;

					@media (max-width: 1024px) {
						grid-template-columns: repeat(8, 1fr);
					}

					.product__card__wrapper {
						width: 100%;
						height: 100;
						grid-column-start: span 4;
					}
				}
				&.display__column {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}


}



.slider__item__wrapper {
	min-width: 210px;
	max-width: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
}

