.product__card__wrapper__grid {
	width: 325px;
	min-height: 500px;
	border-radius: 8px;
	margin-bottom: 20px;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;

	.product__available__status {
		width: 100%;
	}

	.product__card__image__wrapper {
		position: relative;
		height: 350px;
		width: 100%;
		.product__card__product__tags {
			position: absolute;
			top: 0;
			left: 0;
			gap: 5px;
			flex-wrap: wrap;
			opacity: 1;
			transition: opacity 0.25s ease-in-out;
			max-width: calc(100% - 30px);
			.product__card__product__tags__item {
				padding: 4px 8px;
				border-color: var(--orange-darker-color);
				background-color: var(--white-color);
				.product__card__product__tags__item__text {
					font-size: var(--fontM);
				}
			}
		}
	}

	.product__card__link__wrapper {
		cursor: pointer;

		.product__card__price__wrapper {
			margin: 10px 0px;

			.product__card__price__sale {
				color: var(--orange-color);
			}

			.price__tag {
				font-family: var(--museo_cyrl);
				font-size: var(--fontX);
				font-weight: 900;
				&::after {
					content: '\20BD';
				}
			}

			.product__card__price {
				font-family: var(--museo_cyrl);
				color: var(--orange-color);
				font-size: var(--fontX);
				font-weight: 900;
			}

			.product__card__price__before__sale {
				font-size: var(--fontM);
				color: var(--gray-color);
				text-decoration: line-through;
				margin-left: 5px;
				font-weight: 700;
			}
		}

		.product__card__name__wrapper {
			.product__card__name {
				margin: 0;
				font-family: var(--museo_cyrl);
				color: var(--standard-color);
				font-size: var(--fontL);
				font-weight: 400;
				transition: 0.1s ease-in-out;
			}
		}

		.product__card__manufacturer__data__wrapper {
			.product__card__manufacturer__data {
				color: var(--gray-color);
				font-size: var(--fontM);
				font-family: 'Arial';
			}
			.product__card__slash {
				color: var(--gray-color);
				font-size: var(--fontM);
				margin: 0px 5px;
			}
		}

		&:hover {
			.product__card__name {
				color: var(--orange-darker-color);
			}
		}
	}

	.product__card__options__wrapper {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 15px;
		top: 10px;
		z-index: var(--zIndexLow);
		gap: 10px;
		.product__card__option {
			width: 20px;
			height: 20px;
		}
	}

	&:hover {
		.product__preview {
			display: block;
		}
		.product__card__image__wrapper {
			.product__card__product__tags {
				opacity: 0.2;
			}
		}
	}

	@media (max-width: 648px) {
		min-height: 400px;
		.product__card__image__wrapper {
			height: 250px;
		}
	}
}
