.flex__items__center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__wrapper__observer__point {
	width: 100%;
	height: 5px;
	background-color: transparent;
}

.header__wrapper {
	width: 100%;
	padding-top: 20px;
	height: 94px;

	&.header__sticky__enabled {
		position: sticky;
		top: 0;
		left: 0;
		padding: 0;
		background-color: var(--white-color);
		z-index: var(--zIndexBig);
		box-shadow: 12px 0 32px var(--box-shadow-color);
		height: 57px;
		.header__info {
			max-height: 0px;
			height: 0;
			transition: none;
		}
		~ .width__limiter {
			margin-top: 80px;
		}
	}

	.header__info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-height: 17px;
		height: 17px;
		overflow: hidden;

		color: var(--standard-color);
		font-weight: 400;
		font-size: var(--fontM);
		font-family: var(--museo_cyrl);
		letter-spacing: 0.25px;

		transition: max-height 0.6s ease;

		.header__info__content {
			display: flex;
			flex-direction: row;
			gap: 20px;
			.header__info__link {
				cursor: pointer;
				transition: color 0.25s ease;
				&:hover {
					color: var(--orange-color);
				}
			}
		}
		.header__info__contact__phone__wrapper {
			display: flex;
			gap: 10px;
			.header__info__contact__phone {
				margin: 0;
			}
		}
	}

	.header__content__wrapper {
		margin: 0 auto;
		max-width: 1440px;
		padding: 0 20px;
	}

	.header {
		margin: 5px auto 0;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 4fr 2fr;

		.logo__wrapper {
			padding: 5px;
			max-width: 100%;
			max-height: 100%;
			overflow: hidden;
			cursor: pointer;
			transition: opacity 0.25s ease-in-out;
			&:hover {
				opacity: 0.75;
			}
			.logo__main {
				height: 100%;
				width: 100%;
			}
		}
	}

	.center__wrapper {
		padding: 0 10px;
	}
	.right__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 0 0 80px;
		gap: 30px;
	}
}

.header__option__wrapper {
	width: 70px;
	height: 52px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--standard-color);
	position: relative;
	background-color: transparent;
	border: none;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.15s ease-in-out;
	&:hover {
		opacity: 0.75;
	}
	.header__option__icon {
		width: 28px;
		height: 28px;
		fill: var(--standard-color);
	}
	.header__option__label {
		margin: 0;
		font-size: var(--fontM);
	}
	.header__option__count__pin {
		position: absolute;
		background-color: var(--orange-color);
		color: var(--white-color);
		padding: 1px 4px;
		border-radius: 50px;
		font-size: var(--fontS);
		user-select: none;
		&.header__option__count__pin__cart {
			right: 12px;
			top: 5px;
		}
		&.header__option__count__pin__favourite {
			right: 12px;
			top: 5px;
		}
	}
}

.header__mobile__wrapper {
	.header__mobile__upper {
		width: 100vw;
		height: 50px;
		background-color: var(--white-color);
		.header__mobile__upper__content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 5px 20px;
			.header__mobile__upper__logo {
				width: auto;
				height: 40px;
			}
		}
	}
	.header__mobile__lower {
		width: 100vw;
		height: 50px;
		background-color: var(--white-color);
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: var(--zIndexBig);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 16px 16px 0 0;
		box-shadow: 0 2px 16px rgba(77, 77, 77, 0.2);
		.header__mobile__lower__content {
			width: 100%;
			height: 40px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 0 20px;
			.header__mobile__lower__link {
				width: 35px;
				height: 35px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				flex-direction: column;

				&.menu__button__mobile__acitve {
					.header__mobile__lower__icon__wrapper {
						.header__mobile__lower__icon {
							fill: var(--orange-color);
						}
					}
					.header__mobile__lower__label {
						color: var(--orange-color);
					}
				}
				&.header__mobile__lower__icon__active {
					.header__mobile__lower__icon__wrapper {
						.header__mobile__lower__icon {
							fill: var(--orange-color);
						}
					}
					.header__mobile__lower__label {
						color: var(--orange-color);
					}
				}

				.header__mobile__lower__label {
					margin: 0;
					color: var(--standard-color);
					font-size: var(--fontS);
					font-weight: 300;
					font-family: var(--museo_cyrl);
				}

				.header__mobile__lower__icon__wrapper {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 28px;
					height: 28px;
					.header__mobile__lower__icon {
						max-width: 100%;
						max-height: 100%;
						width: 100%;
						height: auto;
						fill: var(--standard-color);
					}
				}
			}
		}
	}
}
