.product__card__add__to__cart {
	font-family: var(--museo_cyrl);
	padding: 10px 15px;
	cursor: pointer;
	font-size: var(--fontM);
	letter-spacing: 0.5px;
	border-radius: 4px;
	border: 1px solid transparent;
	transition: 0.1s ease;

	display: flex;
	justify-content: center;
	align-items: center;

	&.product__card__add__to__cart__active {
		background-color: transparent;
		border: 1px solid var(--primary-color);
		&:hover {
			opacity: 0.5;
		}
	}
	&.product__card__add__to__cart__inactive {
		background-color: var(--orange-color);
		color: var(--white-color);
		&:hover {
			background-color: var(--orange-darker-color);
		}
	}
}

.product__available__status {
	width: 100%;
	padding: 8px 10px;
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	.product__available__status__text {
		font-size: var(--fontL);
		font-family: var(--museo_cyrl);
		font-weight: 600;
		color: var(--primary-color);
		white-space: nowrap;
		margin: 0;
		letter-spacing: -0.5px;
	}
	&.product__not__available {
		border: 2px solid var(--primary-color);
		.product__available__status__text {
			color: var(--primary-color);
		}
	}

	&.product__available {
		border: 2px solid var(--orange-color);
		.product__available__status__text {
			color: var(--orange-color);
		}
	}

	@media (max-width: 496px) {
		.product__available__status__text {
			font-size: var(--fontM);
		}
	}

	@media (max-width: 368px) {
		.product__available__status__text {
			font-size: var(--fontS);
		}
	}
}

.product__where__to__buy {
	border: 2px solid var(--primary-color);
	padding: 8px 10px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.3s ease;
	width: 100%;

	&:hover {
		opacity: 0.8;
	}

	.product__where__to__buy__text {
		font-size: var(--fontL);
		font-family: var(--museo_cyrl);
		font-weight: 600;
		color: var(--primary-color);
		white-space: nowrap;
		margin: 0;
		padding: 0;
		letter-spacing: -0.5px;
	}
}
