html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	@media (prefers-color-scheme: light) {
		background-color: white;
	}

	@media (prefers-color-scheme: dark) {
		background-color: white;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

button {
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}

.product__card__price__wrapper {
	.product__card__price__sale {
		color: var(--orange-color);
	}
	.price__tag {
		font-family: var(--museo_cyrl);
		font-size: var(--fontXL);
		font-weight: 900;
		&::after {
			content: '\20BD';
		}
	}

	.product__card__price {
		color: var(--orange-color);
	}

	.product__card__price__before__sale {
		font-size: var(--fontM);
		color: var(--gray-color);
		text-decoration: line-through;
		margin-left: 5px;
		font-weight: 700;
	}
}

.products__grid__layout {
	grid-gap: 10px;
	display: grid;
	grid-template-columns: repeat(24, 1fr);

	@media (max-width: 1248px) {
		grid-template-columns: repeat(20, 1fr);
	}

	@media (max-width: 1024px) {
		grid-template-columns: repeat(16, 1fr);
	}

	@media (max-width: 768px) {
		grid-template-columns: repeat(12, 1fr);
	}

	@media (max-width: 528px) {
		grid-template-columns: repeat(8, 1fr);
	}
}
