body {
	--content-max-width: 1440px;
	--orange-color: rgb(238, 115, 14);
	--orange-darker-color: rgb(220, 100, 5);
	--orange-light-color: rgb(240, 180, 80);
	--orange-color-bg: rgba(238, 115, 14, 0.4);
	--standard-color: rgb(77, 77, 77);


	--red-color: rgb(255, 100, 100);
	--green-color: rgb(0, 210, 50);
	

	--black-color: rgb(0, 30, 50);

	--light-grey-color: rgb(245, 245, 245);
	--white-color: rgb(255, 255, 255);
	--grey-color: rgb(220, 220, 220);
	--gray-color: rgb(150, 150, 150);

	--primary-color: rgb(99, 79, 57);

	--app_background_color: rgb(255, 255, 255);

	--primary_cards_background: rgb(250, 250, 250);

	--pp_gallery_selected: rgb(238, 115, 14);
	--modals__background__click: rgba(77, 77, 77, 0.2);

	--search__item__hover: rgb(245, 245, 245);

	--primary_link_hover: rgb(240, 240, 240, 0.6);

	--primary_hidder_bg: rgba(77, 77, 77, 0.4);


	--fontT: 10px;
	--fontS: 12px;
	--fontMS: 13px;
	--fontM: 14px;
	--fontML: 16px;
	--fontL: 16px;
	--fontX: 18px;
	--fontXL: 20px;

	--headerS: 24px;
	--headerM: 28px;
	--headerL: 32px;
	--headerX: 36px;
	--museo_cyrl: 'MuseoCyrl', 'Arial';


	--zIndexMinium: 1;
	--zIndexLow: 10;
	--zIndexMedium: 100;
	--zIndexBig: 1000;
	--zIndexMax: 10000;

	--paginator__item__hover: rgb(220, 220, 220, 0.5);
}
