.product__sort__wrapper {
	width: 180px;
	position: relative;

	.product__sort__button {
		background-color: transparent;
		border: 2px solid var(--primary-color);
		color: var(--primary-color);
		padding: 4px 10px;
		width: 100%;
		border-radius: 4px;
		font-size: var(--fontM);
		font-family: var(--museo_cyrl);

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		transition: all 0.25s ease-in;
		cursor: pointer;

		&:hover {
			border: 1.5px solid var(--orange-color);
			background-color: var(--orange-color);
			color: var(--white-color);
			.product__sort__button__icon {
				fill: var(--white-color);
			}
		}

		.product__sort__button__icon {
			fill: var(--primary-color);
			font-size: var(--fontL);
			margin-left: 5px;
			transition: all 0.25s ease-in;
			animation-fill-mode: forwards;
			width: 18px;
			transform: rotateZ(-90deg);
		}

		&.product__sort__button__active {
			border: 1.5px solid var(--orange-color);
			background-color: var(--orange-color);
			color: var(--white-color);
			.product__sort__button__icon {
				fill: var(--white-color);
				transform: rotateZ(-270deg);
			}
		}
	}
	.product__sort__modal {
		display: none;
		position: absolute;
		z-index: var(--zIndexMedium);
		background-color: var(--white-color);
		box-shadow: 0 0 8px 8px var(--box-shadow-color);
		width: 100%;
		margin-top: 2.5px;
		border-radius: 4px;
		.product__sort__modal__content {
			padding: 5px;
			display: flex;
			flex-direction: column;
			.modal__sort__item {
				font-family: var(--museo_cyrl);
				font-weight: 300;
				margin-bottom: 5px;
				font-size: var(--fontML);
				cursor: pointer;
				transition: 0.1s ease;
				&:hover {
					color: var(--orange-color);
				}
				&::first-letter {
					text-transform: uppercase;
				}
			}
		}
		&.product__sort__modal__active {
			display: block;
		}
	}

	&.product__sort__wrapper__disabled {
		opacity: 0.5;
		cursor: default;
		&:hover {
			.product__sort__button {
				transition: none;
				border: 1.5px solid var(--primary-color);
				background-color: transparent;
				color: var(--primary-color);
				.product__sort__button__icon {
					color: var(--primary-color);
				}
			}
		}
	}
}
