.breadcrumb__wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: var(--museo_cyrl);
	align-items: center;
	gap: 0px;

	.breadcrumb__item {
		text-decoration: none;
		font-size: var(--fontM);
		letter-spacing: 0.5px;
		padding: 2.5px 5px;
		border-radius: 8px;

		&::first-letter {
			text-transform: uppercase;
		}
		&.breadcrumb__item__link {
			color: var(--gray-color);
			transition: 0.25s ease-out;
			&:hover {
				background-color: var(--primary_link_hover);
			}
		}
		&.breadcrumb__item__active {
			color: var(--orange-color);
		}
	}
	.breadcrumb__slash {
		color: var(--gray-color);
		font-size: var(--fontS);
		margin: 0px 5px;
		font-size: var(--fontL);
	}

	@media (max-width: 768px) {
		.breadcrumb__slash {
			font-size: var(--fontS);
			margin: 0 2.5px;
		}
		.breadcrumb__item {
			font-size: var(--fontS);
		}
	}
}
