.breadcrumb__content {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	font-family: var(--museo_cyrl);
	gap: 0px;
	max-width: 100%;
	margin: 0;
	padding: 12px 0;

	.breadcrumb__item__wrapper {
		list-style-type: none;
	}
	.breadcrumb__item {
		text-decoration: none;
		font-size: var(--fontM);
		letter-spacing: 0.5px;
		padding: 4px 8px;
		border-radius: 8px;
		white-space: nowrap;

		&.breadcrumb__item__link {
			color: var(--gray-color);
			transition: 0.25s ease-out;
			&:hover {
				background-color: var(--primary_link_hover);
			}
		}
		&.breadcrumb__item__active {
			color: var(--orange-color);
		}
	}
	.breadcrumb__dash {
		color: var(--gray-color);
		font-size: var(--fontS);
		margin: 0px;
		font-size: var(--fontL);
	}

	@media (max-width: 768px) {
		flex-wrap: nowrap;
		overflow: scroll;
		gap: 10px;
		padding: 12px 10px 12px;
		.breadcrumb__dash {
			display: none;
		}
		.breadcrumb__item {
			font-size: var(--fontS);
			padding: 5px 10px;
			box-shadow: 0 0 8px var(--box-shadow-color);
			background-color: var(--primary_link_hover);
		}
	}
}
